.profile {
  width: 35px;
  height: 35px;
}

.profile_img {
  width: 70%;
}

.profile_link {
  text-align: center;
}

.profile_link p {
  font-size: xx-small;
}

.card-container .collapse:not(.show) {
  display: block;
  height: 12rem;
  overflow: hidden;
}

.collapsing {
  height: 12rem !important;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 10s;
  transition-property: all;
}

.collapse .show {
  height: auto;
}

.card-container {
  font-size: 1rem;
  line-height: 1.5;
}

.collapse:not(.show) {
  display: block;
  height: 13rem;
  overflow: hidden;
}

.collapsing {
  position: relative;
  height: 13rem;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.card-container a.collapsed::after {
  content: "+ Show More";
}

.card-container a:not(.collapsed)::after {
  content: "- Show Less";
}
