body {
  height: 100%;
  margin: 0;
}

.profile {
  width: 35px;
  height: 35px;
}

.profile_img {
  width: 70%;
}

.profile_link {
  text-align: center;
}

.profile_link p {
  font-size: xx-small;
}

.card-container .collapse:not(.show) {
  display: block;
  height: auto;
  max-height: 12rem;
  overflow: hidden;
}

.full-height {
  height: 90vh;
  display: flex;
  flex-flow: column;
}

.collapsing {
  height: auto !important;
  max-height: 12rem;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 10s;
  transition-property: all;
}

.card-container {
  font-size: 1rem;
  line-height: 1.5;
  padding: 3%;
}

.text-sm {
  font-size: small;
}

.create-container {
  padding: 3%;
}

.grow {
  flex: 1 1 auto;
}
